/*@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@700&family=Roboto+Condensed:wght@400;700&display=swap');*/

body{
    background-color: black;
}

li, a{
    color: white;
    text-decoration: none;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 4%;
}

.logoPic{
    max-width: auto;
    max-height: 90px;
    margin-right: auto;
}

.nav-links{
    list-style: none;
}
.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover,
.nav-links a.active{
    color: #81a5f9;
}

button{
    color: #81a5f9;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 700;
    font-size: 1.05rem;
    padding: 9px 25px;
    background-color: black;
    border: solid #81a5f9;
    border-radius: 25px;
    margin-left: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    transform: translateY(-3px);
    box-shadow: 0 0 55px rgba(129, 165, 249, 0.6)
}

p{
    color: white;
}

/* The following will be used for opening logo animation */
.intro{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    transition: opacity 1s ease;
}
.intro.fade{
    opacity: 0;
}


.logo-header{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #81a5f9;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 700;
    font-size: 5rem;
}

.logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.rectangle{
    width: 0px;
    height: 22px;
    background-color: #81a5f9;

    position: absolute;
    top: 46.7%; /* Makes rectangle dead center of opening logo */
    left: -30px;
    transform: translateY(-45%);
}

.rectangle.active{
    animation: elongate 1.5s linear;
    width: 362px;
}

@keyframes elongate{
    0% {
        width: 0px;
        left: -30px;
    }
    100% {
        width: 362px;
        left: -30px;
    }
}
/* End of opening logo animation styles */
