/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@700&family=Roboto+Condensed:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap');
@font-face { font-family: Village-Orbit; src: url("fonts/Village-Orbit.ttf"); } 

body{
    background-color: black;
    color: white;
}

/* Navigation Bar Styling */
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 4%;
}

.logoPic{
    max-width: auto;
    max-height: 90px;
    margin-right: auto;
}

.nav-links{
    list-style: none;
}
.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a{
    color: white;
    text-decoration: none;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover,
.nav-links a.active{
    color: #81a5f9;
}

button{
    color: #81a5f9;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 700;
    font-size: 1.15rem;
    padding: 9px 25px;
    background-color: black;
    border: solid #81a5f9;
    border-radius: 25px;
    margin-left: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    transform: translateY(-3px);
    box-shadow: 0 0 55px rgba(129, 165, 249, 0.6)
}
/* End of Navigation Bar Styling */


/* About Me Page Styling */
.about{
    align-items: start;
    display: flex;
    height: 75vh;
    padding: 2% 10%;
}
.right{
    flex: 2;
}
.left{
    flex: 1;
}
.profilePic{
    max-width: auto;
    max-height: 65vh;
    border-radius: 25px;
    filter: brightness(105%);
    border: solid #81a5f9;
    box-shadow: 0 0 125px rgba(129, 165, 249, 0.6);

}
.about-content h1{
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 700;
    color: #81a5f9;
    font-size: 5rem;
    margin: 0;
}

.about-content h3{
    font-family: 'Roboto Slab', serif;
    color: #81a5f9;
    font-weight: 400;
    margin: 0;
}

.about-content p{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    margin: 1% 0;
    line-height: 1.5;
}

.about-content a{
    color: #81a5f9;
    text-decoration: underline;
}

.socialIcons{
    transform: scale(0.8);
}
/* End of About Me Page Styling */


/* Projects Page Styling */

.projectHeading{
    text-align: center;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 700;
    color: #81a5f9;
    margin-bottom: 40px;
}

.cardContainer{
    margin: 0 auto;
    max-width: 1500px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    font-family: 'Roboto Slab', serif;
}

.card{
    box-shadow: 0 8px 12px rgba(129, 165, 249, 0.6);
    border: solid #81a5f9;
    border-width: 1px;
}

.card-image{
    width: 100%;
    display: block;
}

.card-content{
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    background: #1a1a1a;
    font-weight: 400;
}

.card-content > p:first-of-type{
    margin-top: 0;
}

.card-content > p:last-of-type{
    margin-bottom: 0;
}

.card-info{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background: #1a1a1a;
    color: #81a5f9;
    font-weight: 700;
}

.card-link{
    color: #81a5f9;
    text-decoration: none;
    font-weight: 700;
}

.card-link:hover{
    text-decoration: underline;
}
/* End of Projects Page Styling */


/* Qualifications Page Styling */
.qualifications{
    display: flex;
    gap: 40px;
    padding: 2% 5%;
}

.resume-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resume{
    width: 100%;
    margin-bottom: 15px;
}

.qualifications-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Roboto Slab', serif;
}

.qualifications-container p{
    line-height: 1.5;
    margin-top: 0;
}

.technical-skills{
    margin-bottom: 40px;
    border: solid #81a5f9;
    border-radius: 15px;
    padding: 1em;
    box-shadow: 0 8px 12px rgba(129, 165, 249, 0.6);
}
.technical-skills ul{
    column-count: 2;
    column-gap: 20px;
    list-style-type: circle;
}

.areas-of-interest{
    border: solid #81a5f9;
    border-radius: 15px;
    padding: 1em;
    box-shadow: 0 8px 12px rgba(129, 165, 249, 0.6);
}
.areas-of-interest ul{
    list-style-type: circle;
}
.areas-of-interest ul li{
    margin-bottom: 20px;
}

/* End of Qualifications Page Styling */


/* AI Page Styling */
#content-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2% 5%;
    gap: 20px;
}

#canvas-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#canvas-container h2{
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 700;
    color: white;
}

#drawing-canvas {
    border: 2px solid #81a5f9; 
    margin-bottom: 15px;   
}

#text-container {
    margin-top: 70px;
    margin-left: 20px;
    border: solid #81a5f9;
    border-radius: 15px;
    padding: 1em;
    box-shadow: 0 8px 12px rgba(129, 165, 249, 0.6);
    font-family: 'Roboto Slab', serif;
}

#text-container p{
    line-height: 1.5;
    margin-bottom: 25px;
}
#text-container a{
    color: #81a5f9;
    text-decoration: underline;
}
#text-container ul{
    list-style-type: circle;
}
#text-container ul li{
    margin-bottom: 10px;
}
/* End of AI Page Styling */


/* Opening Logo Animation Styling */
.intro{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    transition: opacity 1s ease;
}
.intro.fade{
    opacity: 0;
}


.logo-header{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #81a5f9;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 700;
    font-size: 5rem;
}

.logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.rectangle{
    width: 0px;
    height: 22px;
    background-color: #81a5f9;

    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-45%);
}

.rectangle.active{
    animation: elongate 1.5s linear;
    width: 310px;
}

@keyframes elongate{
    0% {
        width: 0px;
        left: -30px;
    }
    100% {
        width: 310px;
        left: -30px;
    }
}
/* End of Opening Logo Animation Styling */

