@font-face { font-family: industry-bold; src: url("fonts/Industry-Bold.ttf");}
@font-face { font-family: adobe; src: url("fonts/Adobe\ Garamond\ Regular.otf");}
@font-face { font-family: sundries; src: url("fonts/Sundries.otf");}


body{
    background-attachment: fixed;
    background-image: linear-gradient(white, #efd6e9, #97c9ec);
    color: black;
}
button{
    color: #f09dc9;
    font-family: 'industry-bold';
    font-size: 1.15rem;
    padding: 9px 25px;
    background-color: white;
    border: solid #f09dc9;
    border-radius: 25px;
    margin-left: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    transform: translateY(-3px);
    box-shadow: 0 0 55px rgba(240, 157, 201, 0.6);
}

.switch{
    position: fixed;
    bottom: 20px;
    right: 30px;
}

.colored-text{
    color: #f09dc9;
    font-weight: 700;
}

/* Navigation Bar Styling */
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 4%;
}

.logoPic{
    max-width: auto;
    max-height: 90px;
    margin-right: auto;
    transform: scale(1.3);
}

.nav-links{
    list-style: none;
}
.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a{
    color: black;
    text-decoration: none;
    font-family: 'industry-bold';
    font-size: 1.2rem;
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover,
.nav-links a.active{
    color: #f09dc9;
}
/* End of Navigation Bar Styling */


/* About Me Page Styling */
.about{
    align-items: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;
    padding: 2% 10%;
}
.right{
    order: 1;
    margin-bottom: 40px;
}
.left{
    order: 2;
}
.profilePic{
    max-width: auto;
    max-height: 65vh;
    border-radius: 25px;
    border: solid #f09dc9;
    box-shadow: 0 0 115px rgba(240, 157, 201, 0.9);

}
.about-content h1{
    font-family: 'sundries';
    color: #f09dc9;
    font-size: 5.5rem;
    margin: 0;
    font-weight: 400;
}

.about-content h3{
    font-family: 'adobe';
    color: #f09dc9;
    margin: 0;
    font-size: 1.3rem;
}

.about-content p{
    font-family: 'adobe';
    margin: 1% 0;
    line-height: 1.5;
    font-size: 1.2rem;
}

.about-content a{
    color: #f09dc9;
    text-decoration: underline;
}

.socialIcons{
    transform: scale(0.8);
    filter: invert(1);
}
/* End of About Me Page Styling */


/* Qualifications Page Styling */
.qualifications{
    display: flex;
    gap: 40px;
    padding: 2% 5%;
    flex-direction: column;
    align-items: center;
}

.resume-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;
}

.resume{
    width: 100%;
    margin-bottom: 15px;
}

.qualifications-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'adobe';
    font-size: 1.2rem;
    order: 1;
}

.qualifications-container p{
    line-height: 1.5;
    margin-top: 0;
}

.technical-skills{
    margin-bottom: 40px;
    border: solid #f09dc9;
    border-radius: 15px;
    padding: 1em;
    box-shadow: 0 8px 12px rgba(240, 157, 201, 0.9);
}
.technical-skills ul{
    column-count: 2;
    column-gap: 20px;
    list-style-type: circle;
}

.areas-of-interest{
    border: solid #f09dc9;
    border-radius: 15px;
    padding: 1em;
    box-shadow: 0 8px 12px rgba(240, 157, 201, 0.9);
}
.areas-of-interest ul{
    list-style-type: circle;
}
.areas-of-interest ul li{
    margin-bottom: 20px;
    line-height: 1.5;
}
.areas-of-interest a{
    color: #f09dc9;
    text-decoration: underline;
}
/* End of Qualifications Page Styling */


/* AI Page Styling */
#content-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2% 5%;
    gap: 20px;
}

#canvas-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#canvas-container h2{
    font-family: 'industry-bold';
    font-weight: 700;
    color: black;
}

#drawing-canvas {
    border: 2px solid #f09dc9; 
    margin-bottom: 15px;   
}

#text-container {
    margin-top: 70px;
    margin-left: 20px;
    border: solid #f09dc9;
    border-radius: 15px;
    padding: 1em;
    box-shadow: 0 8px 12px rgba(240, 157, 201, 0.9);
    font-family: 'adobe';
}

#text-container p{
    line-height: 1.5;
    margin-bottom: 25px;
    font-size: 1.2rem;
}
#text-container a{
    color: #f09dc9;
    text-decoration: underline;
}
#text-container ul{
    list-style-type: circle;
}
#text-container ul li{
    margin-bottom: 10px;
    font-size: 1.2rem;
}
/* End of AI Page Styling */
